<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h2>Welcome to the adminPage!</h2>
    <br/>
    <h3>Links to the admin functions</h3>
    <br/>
    <a th:href="@{/productmanagement}">Products management</a>
    <br/>
    <a th:href="@{/userlist}">User list</a>
    <br/>
    <a th:href="@{/searchuser}">Search users</a>
    <br/>
    <a th:href="@{/purchaselist}">List of all purchases</a>
</body>
</html>