<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SportyShoes</title>
</head>
<body>
    <h2>Main webpage</h2>
    <form action="#" th:action="@{/}" th:object="${user}" method="post">
        <label>User Name</label>
        <input type="text" th:field="*{userName}"/><br/>
        <label>Password</label>
        <input type="password" th:field="*{password}"/><br/>
        <br/>
        <input type="submit" value="SignIn"/>
    </form>
    <div th:if="${loggingError != null}">    
        Invalid username and password.
    </div>
    <div th:if="${loggingNeedError != null}">    
        You must be logged to access this webPage.
    </div>
    <div th:if="${purchaseDoesntFoundError != null}">    
        We can't find this purchase
    </div>
    <div th:if="${adminNeedError != null}">    
        You must be admin to access this WebPage.
    </div>
    <br/>
    <a th:href="@{/signup}">SignUp!</a>
</body>
</html>