<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for Users</title>
</head>
<body>
    <h2>Search for users</h2>
    <form action="#" th:action="@{/searchuser}"  method="post">
        <label>UserName:</label>
        <input type="text" value="userName"/><br/>
        <input type="submit" value="Search"/>
    </form>
    <div th:if="${listOfUsers != null}">    
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Name</th>	
                <th>Last name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
            <tr th:each="user:${listOfUsers}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </table>
    </div>
    <br/>
    <a th:href="@{/admin}">Go back</a>
</body>
</html>